@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40rem);
    }
    to{
        transform: translateY(0rem);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40rem);
    }
    to{
        transform: translateY(0rem);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40rem);
    }
    to{
        transform: translate(0rem);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40rem);
    }
    to{
        transform: translate(0rem);
    }
}
@keyframes moveOutRight {
    from{
        transform: translate(0rem);
    }
    to{
        transform: translate(200rem);
    }
}
@keyframes oscilate1 {
    from{
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-10rem);
    }
}
@keyframes oscilate2 {
    from{
        transform: translateY(20rem);
    }
    to {
        transform: translateY(0rem);
    }
}
@keyframes oscilateLittle1 {
    from{
        transform: translateY(1rem);
    }
    to {
        transform: translateY(0rem);
    }
}
@keyframes oscilateLittle2 {
    from{
        transform: translateY(0rem);
    }
    to {
        transform: translateY(1rem);
    }
}


/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
    border: 1p dotted var(--colorSecundarioT);
    transition: all 0.5s;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    color: var(--colorEnPrimario);
}
:root{
    --colorPrimario: rgb(244, 242, 239);
    --colorPrimarioT: rgba(244, 242, 239, 0.8);

    --colorEnPrimario: rgb(61, 72, 80);
    --colorEnPrimarioT: rgba(146, 150, 153, 0.8);
    
    --colorSecundario: rgb(0, 185, 169);
    --colorSecundarioT: rgba(0, 185, 169, 0.7);

    --texto: 1.2vw;
    --subtitulo: 2.2vw;
    --titulo: 3vw;
    --banner: 4vw;
}

/*Fin de estilos generales*/

header {
    width: 100vw;
    height: 15vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    animation: moveInDown 2s;
}
.container {
    height: 100%;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h2 {
    font-size: var(--banner);
    font-family: 'Dancing Script', sans-serif;
    color: var(--colorEnPrimarioT);
}
.container > div {
    margin: 0 15rem 0 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container > div a{
    margin: 0 2rem 0 2rem;
    padding: 0 2rem;
    font-size: var(--texto);
    color: var(--colorEnPrimario);
    text-decoration: none;
    width: 15rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
}
.container > div a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--colorSecundario);
    text-decoration-color: var(--colorSecundario);
}

main {
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 4fr 5fr;
}
#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-left: 5rem;
}
#left h1 {
    max-width: 80%;
    font-size: var(--banner);
    margin: 2rem 4rem;
    font-weight: 300;
}
#left span {
    max-width: 60%;
    font-size: var(--subtitulo);
    color: var(--colorEnPrimarioT);
    margin: 2rem 4rem;
}
#left > div {
    margin: 2.5rem ;
    width: fit-content;
    height: fit-content;
}
#left a {
    width: 100%;
    font-size: var(--texto);
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 3%;
    margin: 0 2rem;
    font-weight: bold;
}
#left a:hover{
    cursor: pointer;
    padding: 1.3rem 2.3rem;
    opacity: 0.8;
}
#left #play {
    color: var(--colorPrimario);
    background-color: var(--colorSecundario);
}
#left #code {
    color: var(--colorEnPrimarioT);
    background-color: var(--colorPrimario);
    border-top: 1px solid var(--colorEnPrimarioT);
    border-right: 1px solid var(--colorEnPrimarioT);
    border-bottom: 3px solid var(--colorEnPrimarioT);
    border-left: 3px solid var(--colorEnPrimarioT);
}

#right {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#right > div {
    width: 100%;
    height: 100%;
}
#right #right-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
}
#right #right-1 > img {
    animation: oscilate1 4s ease-out infinite alternate;
}
#right #right-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
}
#right #right-2 > img {
    animation: oscilate2 5s ease-in infinite alternate;
}
#right #right-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
}
#right #right-3 > img {
    animation: oscilate1 2s ease-in-out infinite alternate;
}
#right > div > img {
    max-width: 100%;
}

.game {
    height: 100vh;
    width: 100vw;
    display: none;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 5rem 10rem;
}
.game > * {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-self: center;
}
.choices {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.choices > * {
    margin: 1rem auto;
}
.subtitle {
    margin: 0 auto;
    font-size: var(--subtitulo);
    text-align: center;
}
.options {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.opcion{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--colorSecundario);
    width: 100%;
    height: 100%;
}
.opcion:hover {
    cursor: pointer;
    font-size: var(--titulo);
}
.opcion img {
    margin: 1rem auto;
    width: 35%;
}
.opcion span {
    margin: 1rem auto;
    font-size: var(--texto);
}
.send-button {
    padding: 1rem;
    margin: 2rem auto 0 auto;
    width: 30%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    font-size: var(--texto);
    color: var(--colorPrimario);
    background-color: var(--colorSecundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.send-button:hover {
    cursor: pointer;
    font-size: calc(1.1*var(--texto));
    opacity: 0.8;
}

#piedra img {
    animation: oscilateLittle1 2s ease-in-out infinite alternate;
}
#papel img {
    animation: oscilateLittle2 2.5s ease-in infinite alternate;
}
#tijera img {
    animation: oscilateLittle2 2s ease-in-out infinite alternate;
}
#aleatorio img {
    animation: oscilateLittle1 2.5s ease-out infinite alternate;
}

.computer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#comp-image {
    margin: 3rem auto 1rem auto;
    width: 30%;
    height: auto;
    animation: oscilateLittle2 1.5s ease-in infinite alternate;
}
#comp-text {
    margin: 1rem auto;
    font-size: var(--texto);
    text-align: center;
}


/*Media queries*/

