@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(100vw);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-100vw);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveOutRight {
    from{
        transform: translate(0rem);
    }
    to{
        transform: translate(100vw);
    }
}
@keyframes oscilate {
    from{
        transform: translateY(5vh);
    }
    to {
        transform: translateY(0rem);
    }
}
@keyframes oscilateLittle {
    from{
        transform: translateY(1vh);
    }
    to {
        transform: translateY(0rem);
    }
}
@keyframes makeBig {
    from {
        transform: scale(0.5);
    }
    to{
        transform: none;
    }
}
@keyframes makeSmall {
    from {
        transform: none;
    }
    to{
        transform: scale(0.5);
    }
}


/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
    border: 1p dotted var(--colorSecundario);
    transition: all 0.5s;
} 
html{
    font-size: 62.5%;
    orientation: landscape;
}
body{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
    display: flex;
    flex-direction: column;
}
html, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
h1,h2 {
    letter-spacing: -1px;
}
p, span{
    font-size: var(--texto);
    font-family: 'Nunito', sans-serif;
    line-height: 4vh;
}
:root{
    --colorPrimario: rgb(0, 0, 0);
    --colorPrimarioT: rgba(0, 0, 0, 0.8);

    --colorEnPrimario: rgb(255, 255, 255);
    --colorEnPrimarioT: rgba(255, 255, 255, 0.8);
    
    --colorSecundario: #5f98fe;
    --colorSecundarioT: rgba(95, 152, 254, 0.7);

    --texto: clamp(1.2rem, 0.7153rem + 1.64vw, 1.8rem);
    --subtitulo: clamp(2.4rem, 1.4rem + 3.2vw, 3.6rem);
    --titulo: clamp(3rem, 2rem + 4vw, 6rem);
    --banner: clamp(4rem, 2.5rem + 4.5vw, 7.5rem);
}

/*Fin de estilos generales*/

header {
    margin: 0 auto;
    width: 100%;
    height: 12vh;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: moveInDown 2s;
    position: fixed;
    top: 0;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h2 {
    font-size: var(--titulo);
    font-family: 'Dancing Script', sans-serif;
}

/*landing*/

main {
    margin: 2.5vh auto;
    width: 100%;
    height: 110vh;
    display: grid;
    justify-content: center;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    height: 110vh;
    margin: 0 auto;
}
.intro h2 {
    font-size: var(--subtitulo);
    margin: 0;
}
.intro h1 {
    font-size: calc(var(--banner)*1.2);
    margin: 0;
    font-family: sans-serif;
}
.intro-text{
    display: flex;
    flex-direction: row;
}
.intro-text strong {
    color: var(--colorSecundario);
    border-radius: 100%;
}
.main-desc{
    margin: 1.5vh 0;
    font-size: var(--texto);
    color: var(--colorEnPrimario);
    opacity: 0.7;
    font-family: 'Nunito', sans-serif;
    max-width: 80%;
    text-align: justify;
}
.intro-inv{
    margin: 4vh 0 0 0;
    font-size: calc(var(--texto)/1.3);
    text-transform: uppercase;
    color: var(--colorEnPrimario);
    font-family: monospace;
    max-width: 40%;
    padding: 2vh 2vh 2vh 0;
    white-space: nowrap;
    text-decoration: none;
}
.intro-inv:hover{
    background-color: rgba(95, 152, 254, 0.05);
    cursor: pointer;
    padding-left: 1vw;
}
.intro-inv-underline{
    background-color: var(--colorSecundario);
    height: 0.1vw;
    width: 40%;
}

/*Resumen*/

.skills {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills-titles > * {
    margin: 1.5vh 0;
}
.skills-titles h3 {
    color: var(--colorSecundario);
    text-transform: uppercase;
    font-size: var(--texto);
    max-width: 40%;
    white-space: nowrap;
}
.skills-titles h2 {
    font-size: var(--titulo);
    color: var(--colorEnPrimario);
    max-width: 90%;
}
.skills-inv{
    margin: 4vh 0 0 0;
    font-size: calc(var(--texto)/1.3);
    text-transform: uppercase;
    color: var(--colorEnPrimario);
    font-family: monospace;
    max-width: 60%;
    padding: 2vh 2vh 2vh 0;
    white-space: nowrap;
    text-decoration: none;
}
.skills-inv:hover{
    background-color: rgba(95, 152, 254, 0.05);
    cursor: pointer;
    padding-left: 1vw;
}
.skills-inv-underline{
    margin: 0;
    background-color: var(--colorSecundario);
    height: 0.1vw;
    width: 60%;
}
.skills-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills-desc p {
    text-align: justify;
    color: var(--colorEnPrimario);
    opacity: 0.7;
    font-size: var(--texto);
    line-height: 4vh;
}

/*Habilidades*/

.skill-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.skill-list h2 {
    font-size: var(--titulo);
    white-space: nowrap;
}
.skill-list h2 strong {
    color: var(--colorSecundario);
}
.skills-container {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh 1.5vw;
    margin: 10vh 0 5vh 0;
}
#skills-container-2 {
    grid-template-rows: none;
    height: 45vh;
}
.skills-container div {
    width: 100%;
    height: 100%;
}
.skills-container div section {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 90%;
    margin: 2vh 0 5vh 0;
}
.skills-container div section h3 {
    font-family: sans-serif;
    font-size: calc(var(--texto)*1.5);
    font-weight: bolder;
    white-space: nowrap;
}
.skills-container div section img {
    height: 100%;
    width: auto;
}
.skills-container div ul li{
    font-size: var(--texto);
    margin: 2vh 0;
    list-style: none;
    opacity: 0.7;
    white-space: nowrap;
}
/*::before para habilidades*/
#pskill-1::before, #sskill-1::before {
    content: '01';
    position: absolute;
    z-index: -1;
    font-family: 'Raleway';
    font-size: calc(var(--banner)*1.3);
    color: var(--colorEnPrimario);
    opacity: 0.1;
    transform: translate(-4vw, -6.5vh);
}
#pskill-2::before, #sskill-2::before {
    content: '02';
    position: absolute;
    z-index: -1;
    font-family: 'Raleway';
    font-size: calc(var(--banner)*1.3);
    color: var(--colorEnPrimario);
    opacity: 0.1;
    transform: translate(-4vw, -6.5vh);
}
#pskill-3::before, #sskill-3::before {
    content: '03';
    position: absolute;
    z-index: -1;
    font-family: 'Raleway';
    font-size: calc(var(--banner)*1.3);
    color: var(--colorEnPrimario);
    opacity: 0.1;
    transform: translate(-4vw, -6.5vh);
}
#pskill-4::before, #sskill-4::before {
    content: '04';
    position: absolute;
    z-index: -1;
    font-family: 'Raleway';
    font-size: calc(var(--banner)*1.3);
    color: var(--colorEnPrimario);
    opacity: 0.1;
    transform: translate(-4vw, -6.5vh);
}
#pskill-5::before, #sskill-5::before {
    content: '05';
    position: absolute;
    z-index: -1;
    font-family: 'Raleway';
    font-size: calc(var(--banner)*1.3);
    color: var(--colorEnPrimario);
    opacity: 0.1;
    transform: translate(-4vw, -6.5vh);
}
#pskill-6::before, #sskill-6::before {
    content: '06';
    position: absolute;
    z-index: -1;
    font-family: 'Raleway';
    font-size: calc(var(--banner)*1.3);
    color: var(--colorEnPrimario);
    opacity: 0.1;
    transform: translate(-4vw, -6.5vh);
}

/*Proyectos*/

.projects{
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}
.projects-left {
    width: 100%;
    height: 100%;
}
.projects-left h2 {
    font-size: var(--titulo);
    white-space: nowrap;
    margin: 0 0 5vh 0;
}
.projects-left h2 strong {
    font-size: var(--subtitulo);
    color: var(--colorSecundario);
}
.project {
    height: calc(var(--banner)*5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: var(--texto);
    margin: 2vh auto;
    border-radius: 5%;
    text-decoration: none;
}
.project h3{
    margin: 0 auto 0 auto;
    white-space: nowrap;
    color: var(--colorEnPrimario);
    text-decoration: none;
    font-size: calc(var(--texto)*1.2);
    display: none;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
    padding-left: 5vw;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));;
}
.project h3 strong {
    color: var(--colorSecundario);
}
.project:hover h3 {
    display: flex;
}

/*Carrera*/

.career {
    margin: 5vh auto;
    width: 70%;
    height: 150vh;
}
.career-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.career-top h2 {
    font-size: var(--titulo);
    white-space: nowrap;
    margin: 0 0 5vh 0;
}
.career-top h2 strong {
    font-size: var(--subtitulo);
    color: var(--colorSecundario);
}
.career-top > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.career-top > div > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.cv-inv{
    margin: 4vh 0 0 0;
    font-size: calc(var(--texto)/1.3);
    text-transform: uppercase;
    color: var(--colorEnPrimario);
    font-family: monospace;
    max-width: 40%;
    padding: 2vh 2vh 2vh 0;
    white-space: nowrap;
    text-decoration: none;
}
.cv-inv:hover{
    background-color: rgba(95, 152, 254, 0.05);
    cursor: pointer;
    padding-left: 1vw;
}
.cv-inv-underline{
    margin: 0;
    background-color: var(--colorSecundario);
    height: 0.1vw;
    width: 40%;
}

.career-wrap {
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

.career-line {
    display: flex;
    flex-direction: column;
}
.career-line > * {
    margin: 0 auto;
}
.c-line{
    width: 0.2vw;
    height: 50vh;
    background-color: var(--colorEnPrimario);
}
.c-circle {
    width: 2.5vh;
    height: 2.5vh;
    background-color: var(--colorSecundario);
    border-radius: 100%;
}
.career-c {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20vh 0;
}
.achievement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    outline: 0 solid var(--colorEnPrimario);
    opacity: 0.6;
}
.achievement > * {
    margin: 1vh auto;
}
.achievement img {
    max-height: 40%;
}
.achievement h3 {
    color: var(--colorSecundario);
    text-transform: uppercase;
    font-size: var(--texto);
    max-width: 70%;
    text-align: center;
}
.achievement span{
    color: var(--colorEnPrimario);
    font-size: calc(var(--texto)*0.8);
    max-width: 90%;
    opacity: 0.8;
}
.achievement p {
    color: var(--colorEnPrimario);
    font-size: var(--texto);
    max-width: 80%;
    text-align: center;
}
.achievement.visible:hover {
    cursor: pointer;
    outline-width: 0.2vw;
    border-radius: 1vh 1vh 1vh 1vh;
    opacity: 1;
}
.achievement.hidden {
    visibility: hidden;
}
