@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
    border: 2px dotted var(--colorSecundario);
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: rgb(255, 255, 255);
    --colorPrimarioT: rgba(255, 255, 255, 0.7);

    --colorEnPrimario: rgb(0, 0, 0);
    --colorEnPrimarioT: rgba(0, 0, 0, 0.7);
    
    --colorSecundario: rgb(0, 185, 169);
    --colorSecundarioT: rgb(0, 185, 169, 0.7);

    --texto: 1.5rem;
    --subtitulo: 2.5rem;
    --titulo: 3.5rem;
    --banner: 5rem;
}

/*Fin de estilos generales*/



/*Media queries*/

