@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@500;700&family=Nunito:wght@400&family=Poppins:wght@300&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*!Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
} 
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Nunito', sans-serif;
    background-color: var(--colorPrimario);
}
body > div {
    margin: 0;
    padding: 0;
    position: relative;
    top: 12vh;
    width: 100vw;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #FFF;
    --colorPrimarioT: rgba(244, 244, 244, 0.8);

    --colorEnPrimario: rgb(22, 22, 55);
    --colorEnPrimarioT: rgba(22, 22, 55, 0.5);
    
    --colorSecundario: rgb(44, 44, 150);
    --colorSecundarioT: rgba(44, 44, 150, 0.7);

    --texto: clamp(1rem, 0.7153rem + 1.5vw, 1.5rem);
    --subtitulo: clamp(2.4rem, 0.7153em + 3vw, 3.5rem);
    --titulo: clamp(3rem, 0.7153rem + 4vw, 5rem);
    --banner: clamp(4rem, 0.7153rem + 4.5vw, 6.5rem);
}

/*!Fin de estilos generales*/

header{
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    animation: moveInDown 1.5s;
    z-index: 100;
}
header > div {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.header-div-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.header-div-left img {
    max-height: 8vh;
    user-select: none;
}
.header-div-left h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: calc(var(--subtitulo)*0.8);
    margin: 0 1vw;
    user-select: none;
}

.header-div-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 0vw;
}
.header-div-right a {
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 2vh;
    font-weight: normal;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.header-div-right a:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}

.article-info {
    margin: 2vh 0 0 0;
    position: relative;
    top: 12vh;
    padding-left: 8vw;
    max-width: 60vw;
}
.top-span {
    font-size: 1.2em;
}
.top-span a {
    color: var(--colorEnPrimario);
    text-decoration: none;
}
.main-container a:hover {
    text-decoration: underline;
    color: var(--colorSecundario);
    cursor: pointer;
}
.main-title {
    font-size: 5rem;
    font-weight: bold;
}

main {
    height: fit-content;
    width: 100vw;
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: relative;
    top: 12vh;
}
.main-container {
    padding-right: 1.5vw;
    margin: 1vh 1vw 2vh 8vw;
}
.element {
    margin: 1vh 1.5vw;
}
.element li {
    font-size: var(--texto);
}
.main-image {
    width: 100%;
    max-height: 60vh;
}
p.element {
    font-size: var(--texto);
    margin: 3rem 2rem;
}

.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.author-card{
    width: 75%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 2vh 2vw;
    padding: var(--subtitulo);
    box-shadow: 0 0 10px #ccc;
}
.author-presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.author-presentation h3{
    font-size: calc(var(--texto)*1.2);
    font-family: 'Work Sans';
    font-weight: 700;
    text-transform: uppercase;
}
.author-profile {
    margin: 2vh 0;
    width: 100%;
    max-height: 12vh;
    display: flex;
    align-items: center;
}
.author-profile img {
    max-height: 11vh;
    width: auto;
    border: 1px solid rgba(22, 22, 55, 0.1);
    background-color: rgba(22, 22, 55, 0.1);
    border-radius: 50%;
    margin: 0 2vw 0 0;
}
.author-info h4{
    font-size: var(--texto);
    margin: 0.5vh;
}
.author-info h5 {
    margin: 0.5vh;
    font-size: var(--texto);
    color: rgba(22, 22, 55, 0.5);
}

.author-description p {
    max-width: 90%;
    font-size: var(--texto);
}

/*!Estilos del footer*/

footer{
    height: 13vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--colorEnPrimario);
    color: var(--colorPrimario);
    position: relative;
    top: 12vh;
}
footer a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorPrimario);
}
footer a span {
    margin: 0 0.5vw;
    font-size: var(--texto);
    white-space: nowrap;
}
footer a h2 {
    margin: 0 0.5vw;
    font-size: var(--subtitulo);
    font-family: 'Dancing Script';
    font-weight: 700;
}

/*!custom scroll bar*/

::-webkit-scrollbar {
    width: var(--texto);
 }
  
::-webkit-scrollbar-track {
    background: var(--colorEnPrimario);
    box-shadow: 5px 0 0 5px var(--colorEnPrimario); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--colorSecundario); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--colorSecundarioT); 
}

/*!Media queries*/
@media (max-width: 810px) {
    .article-info{
        max-width: 95vw;
        padding-left: 0;
        margin: 2vh 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .article-info > * {
        margin-left: 6vw;
    }
    main {
        grid-template-columns: 1fr;
    }
    .main-container {
        margin: 1vh auto;
        max-width: 90vw;
    }

    .right-container::before {
        content: "";
        position: relative;
        width: 90vw;
        height: 1px;
        background-color: rgba(22, 22, 55, 0.5);
        margin: 2vh auto;
    }
    .author-card{
        margin: 2vh auto;
    }
}