@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
:root{
    --colorPrimario: #45536d;
    --colorPrimarioT: rgba(69, 83, 109, 0.9);

    --colorEnPrimario: #FFFFFF;
    --colorEnPrimarioT: rgba(244, 244, 244, 0.9);
    
    --colorSecundario: #af790c;
    --colorSecundarioT: rgba(175, 121, 12, 0.9);

    --marronClaro: rgb(140, 107, 72);
    --azulOscuro: rgb(36, 47, 68);
    --blanco: rgb(255, 255, 255);
}

/*Fin de estilos generales*/

main {
    width: 90vw;
    height: 80vh;
    color: var(--colorPrimario);
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--colorSecundario);
    background-color: var(--colorEnPrimario);
}
.action-container .inner-ac {
    width: 50%;
    margin: 0 auto;
    transition: font-size, 0.5s;
    display: grid;
    grid-template-rows: 10fr 9fr;
    color: var(--colorPrimario);
    text-decoration: none;
}
.action-container .inner-ac:hover {
    cursor: pointer;
    font-size: 1.1em;
}
.action-container .inner-ac div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.action-container .inner-ac img {
    max-width: 100%;
}
.action-container .inner-ac h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.left {
    animation-name: moveInRight;
    animation-duration: 1.5s;
}
.right {
    animation-name: moveInLeft;
    animation-duration: 1.5s;
}

/*Estilos footer*/

footer {
    color: var(--colorEnPrimario);
    margin: 6vh auto;
    animation-name: moveInUp;
    animation-duration: 1.5s;
}
footer h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

/*Media queries*/

@media (max-width: 2100px) {
    html{
        font-size: 112.5%;
    }
}
@media (max-width: 2000px) {
    html{
        font-size: 106.25%;
    }
}
@media (max-width: 1900px) {
    html{
        font-size: 100%;
    }
}
@media (max-width: 1800px) {
    html{
        font-size: 93.75%;
    }
}
@media (max-width: 1700px) {
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 1600px) {
    html{
        font-size: 81.25%;
    }
}
@media (max-width: 1500px) {
    html{
        font-size: 75%;
    }
}
@media (max-width: 1400px) {
    html{
        font-size: 68.75%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 56.25%;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 43.75%;
    }
}
@media (max-width: 900px) {
    html{
        font-size: 37.5%;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 31.25%;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 25%;
    }
}