@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Nunito:wght@40&family=Poppins:wght@300&family=Raleway:wght@500&display=swap');
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes baseAnimation {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(100vw);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-100vw);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes swipeLeft {
    0%{transform: none;}
    20%{
        transform: translateX(5vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}
@keyframes swipeRight {
    0%{transform: none;}
    20%{
        transform: translateX(-5vw);
    }
    100%{
        transform: translateX(100vw);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #FFF;
    --colorPrimarioT: rgba(244, 244, 244, 0.8);

    --colorEnPrimario: rgb(22, 22, 55);
    --colorEnPrimarioT: rgba(22, 22, 55, 0.8);
    
    --colorSecundario: rgb(44, 44, 150);
    --colorSecundarioT: rgba(44, 44, 150, 0.8);

    --texto: clamp(1rem, 0.7153rem + 1.5vw, 1.5rem);
    --subtitulo: clamp(2.4rem, 0.7153em + 3vw, 3.5rem);
    --titulo: clamp(3rem, 0.7153rem + 4vw, 5rem);
    --banner: clamp(4rem, 0.7153rem + 4.5vw, 6.5rem);
}

/*Fin de estilos generales*/

header{
    width: 100%;
    height: 12vh;
    background-color: transparent;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 1vh 0;
    animation: moveInDown 1.5s;
}
.header-div-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
}
.header-div-left img {
    max-height: 8vh;
}
.header-div-left h3 {
    font-size: calc(var(--subtitulo)*0.8);
    margin: 0 1vw;
}

.header-div-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 3vw;
}
.h-login {
    font-size: calc(var(--texto)*0.85);
    color: var(--colorEnPrimario);
    text-decoration: none;
    margin: 0 1vw;
}
.h-login:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-0.7vh);
}
.h-register{
    font-size: calc(var(--texto)*0.8);
    font-weight: 600;
    text-decoration: none;
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    padding: calc(var(--texto)*0.7) var(--texto);
    border-radius: 1vh;
    letter-spacing: 0.05vw;
    margin: 0 1vw;
}
.h-register:hover {
    transform: translateY(-0.7vh);
    background-color: var(--colorSecundarioT);
}


/*Fin de estilos de header*/

main {
    width: 100vw;
    background-color: var(--colorPrimario);
} 
.main-section{
    width: 100vw;
    height: 75vh;
    margin: 0 auto;
}

/*!Denuncia*/
.main-section-1{
    display: grid;
    grid-template-columns: 4fr 5fr;
}
.ms1-left{
    margin: 0 auto;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ms1-left h1{
    font-size: var(--banner);
    font-weight: bold;
    margin: 1vh 0;
    white-space: nowrap;
    animation: baseAnimation 1.5s;
}
.ms1-left h1 strong{
    color: var(--colorSecundario);
}
.ms1-left p {
    font-size: var(--texto);
    margin: 1vh 0;
    animation: baseAnimation 1.5s;
}
.ms1-left > div {
    width: 100%;
}
.ms1-left a {
    display: inline-block;
    margin: 4vh 2vw 0 0;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    font-weight: bold;
    animation: baseAnimation 2s;
}
.ms1-left a.denounce-button{
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorEnPrimario);
}
.ms1-left a.denounce-button:hover {
    background-color: var(--colorSecundarioT);
}
.ms1-left a.contact-button{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.ms1-left a.contact-button:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}
.ms1-right {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ms1-right img{
    max-height: 90%;
    animation: baseAnimation 2.5s;
}

/*!Test*/
.main-section-2{
    display: none;
    grid-template-columns: 5fr 4fr;
}
.ms2-right{
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ms2-right h3{
    font-size: var(--texto);
    text-transform: uppercase;
    font-weight: bold;
    margin: 1vh 0;
    white-space: nowrap;
}
.ms2-right h2{
    font-size: var(--banner);
    font-weight: bold;
    margin: 1vh 0;
    white-space: nowrap;
}
.ms2-right h2 strong{
    color: var(--colorSecundario);
}
.ms2-right p {
    font-size: var(--texto);
    margin: 1vh 0;
}
.ms2-right a {
    display: inline-block;
    margin: 4vh 2vw 0 0;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    font-weight: bold;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.ms2-right a:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}
.ms2-left {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ms2-left img{
    max-height: 90%;
}

.main-section-3{
    display: none;
}
.main-section-4{
    display: none;
}

/**Menú de navegación*/
.page-navigation{
    height: 13vh;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.arrow-button{
    width: var(--titulo);
    height: var(--titulo);
    font-size: calc(var(--subtitulo)*0.8);
    font-family: 'Poppins', sans-serif;
    border: 0.2vh solid var(--colorEnPrimario);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.5s all;
    margin: 0 1vw;
}
.arrow-button:hover {
    cursor: pointer;
    color: var(--colorSecundario);
    border-color: var(--colorSecundario);
}
.navigation-circle{
    height: var(--texto);
    width: var(--texto);
    margin: 0 1vw;
    border: 0.3vh solid var(--colorSecundario);
    border-radius: 50%;
}

/*Estilos del footer*/

footer{
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--colorEnPrimario);
    color: var(--colorPrimario);
}
footer a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorPrimario);
}
footer a span {
    margin: 0 0.5vw;
    font-size: var(--texto);
}
footer a h2 {
    margin: 0 0.5vw;
    font-size: var(--subtitulo);
    font-family: 'Dancing Script';
}


/*!custom scroll bar*/

::-webkit-scrollbar {
    width: var(--texto);
 }
  
::-webkit-scrollbar-track {
    background: var(--colorEnPrimario);
    box-shadow: 5px 0 0 5px var(--colorEnPrimario); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--colorSecundario); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--colorSecundarioT); 
}

/*!Media queries*/

