@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@500;700&family=Nunito:wght@400&family=Poppins:wght@300&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes baseAnimation {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(100vw);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-100vw);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes swipeLeft {
    0%{transform: none;}
    20%{
        transform: translateX(5vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}
@keyframes swipeRight {
    0%{transform: none;}
    20%{
        transform: translateX(-5vw);
    }
    100%{
        transform: translateX(100vw);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
    font-weight: 500;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #FFF;
    --colorPrimarioT: rgba(244, 244, 244, 0.8);

    --colorEnPrimario: rgb(22, 22, 55);
    --colorEnPrimarioT: rgba(22, 22, 55, 0.8);
    
    --colorSecundario: rgb(44, 44, 150);
    --colorSecundarioT: rgba(44, 44, 150, 0.8);

    --texto: clamp(1rem, 0.7153rem + 1.5vw, 1.5rem);
    --subtitulo: clamp(2.4rem, 0.7153em + 3vw, 3.5rem);
    --titulo: clamp(3rem, 0.7153rem + 4vw, 5rem);
    --banner: clamp(4rem, 0.7153rem + 4.5vw, 6.5rem);
}

/*!Fin de estilos generales*/

header{
    width: 100%;
    height: 12vh;
    background-color: transparent;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 1vh 0;
    animation: moveInDown 1.5s;
}
.header-div-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
}
.header-div-left img {
    max-height: 8vh;
    user-select: none;
}
.header-div-left h3 {
    font-size: calc(var(--subtitulo)*0.8);
    margin: 0 1vw;
    user-select: none;
}

.header-div-right {
    width: 100%;
    height: 100%;
}


/*!Estilos básicos*/

main {
    width: 100vw;
    background-color: var(--colorPrimario);
} 
.main-section{
    width: 100vw;
    height: 75vh;
    margin: 0 auto;
}

/*!Denuncia*/
.main-section-1{
    display: grid;
    grid-template-columns: 4fr 5fr;
}
.ms1-left{
    margin: 0 auto;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ms1-left h1{
    font-size: var(--banner);
    margin: 1vh 0;
    white-space: nowrap;
    animation: baseAnimation 1.2s;
}
.ms1-left h1 strong{
    color: var(--colorSecundario);
}
.ms1-left p {
    font-size: var(--texto);
    margin: 1vh 0;
    animation: baseAnimation 1.2s;
}
.ms1-left > div {
    width: 100%;
}
.ms1-left a {
    display: inline-block;
    margin: 4vh 2vw 0 0;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    animation: baseAnimation 1.5s;
}
.ms1-left a.denounce-button{
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorEnPrimario);
}
.ms1-left a.denounce-button:hover {
    background-color: var(--colorSecundarioT);
}
.ms1-left a.contact-button{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.ms1-left a.contact-button:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}
.ms1-right {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ms1-right img{
    max-height: 90%;
    animation: baseAnimation 1.2s;
}

/*!Test*/
.main-section-2{
    display: none;
    grid-template-columns: 5fr 4fr;
}
.ms2-right{
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ms2-right h3{
    font-size: var(--texto);
    text-transform: uppercase;
    margin: 1vh 0;
    white-space: nowrap;
}
.ms2-right h2{
    font-size: var(--banner);
    margin: 1vh 0;
    white-space: nowrap;
}
.ms2-right h2 strong{
    color: var(--colorSecundario);
}
.ms2-right p {
    font-size: var(--texto);
    margin: 1vh 0;
}
.ms2-right a {
    display: inline-block;
    margin: 4vh 2vw 0 0;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.ms2-right a:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}
.ms2-left {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ms2-left img{
    max-height: 90%;
}

/*!Informate*/
.main-section-3{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-section-3 h3 {
    text-transform: uppercase;
    font-size: var(--texto);
    margin: 1vh auto;
    white-space: nowrap;
    z-index: 100;
}
.main-section-3 h2 {
    font-size: var(--banner);
    text-align: center;
    margin: 1vh auto;
    white-space: nowrap;
    z-index: 100;
}
.main-section-3 h2 strong {
    color: var(--colorSecundario);
}
.main-section-3 p {
    max-width: 40%;
    font-size: var(--texto);
    text-align: center;
    z-index: 100;
}
.main-section-3 a {
    margin: 4vh auto 0 auto;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
    z-index: 100;
}
.main-section-3 a:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}
.little-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    max-width: 12vw;
    max-height: 16vh;
    transition: all 1s;
}
.main-section-3:hover .little-image-1 {
    top: 20%;
    left: 15%;
    transform: rotate(-25deg);
    opacity: 0.9;
}
.main-section-3:hover .little-image-2 {
    top: 50%;
    left: 10%;
    transform: rotate(25deg);
    opacity: 0.9;
}
.main-section-3:hover .little-image-3 {
    top: 75%;
    left: 5%;
    transform: rotate(-35deg);
    opacity: 0.9;
}
.main-section-3:hover .little-image-4 {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0.9;
}
.main-section-3:hover .little-image-5 {
    top: 20%;
    left: 75%;
    transform: rotate(35deg);
    opacity: 0.9;
}
.main-section-3:hover .little-image-6 {
    top: 50%;
    left: 80%;
    transform: rotate(-28deg);
    opacity: 0.9;
}
.main-section-3:hover .little-image-7 {
    top: 75%;
    left: 85%;
    transform: rotate(15deg);
    opacity: 0.9;
}

/*!Equipo*/
.main-section-4{
    display: none;
    flex-direction: column;
    justify-content: center;
}
.main-section-4 h2 {
    max-width: 90vw;
    max-height: 10vh;
    text-transform: uppercase;
    font-size: var(--subtitulo);
    font-weight: bold;
    margin: 2vh auto;
    white-space: nowrap;
    text-align: center;
}
.ms4-wrapper{
    margin: 0 auto;
    width: 90vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh 2vw;
}
.member {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 5fr;
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.member-banner{
    height: 100%;
    background: linear-gradient(90deg, var(--colorEnPrimario) 50%, var(--colorPrimario) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-banner img {
    max-height: 60%;
    max-width: 60%;
    border-radius: 50%;
    border: 0.3vh solid var(--colorPrimario);
}
.member-desc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.member-desc h3 {
    max-width: 90%;
    margin: 1vh auto;
    font-size: var(--texto);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.member-desc p {
    margin: 0 auto;
    max-width: 90%;
    font-size: calc(var(--texto)*0.8);
    opacity: 0.9;
    text-align: center;
}

/**Menú de navegación*/
.page-navigation{
    height: 13vh;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.arrow-button{
    width: var(--titulo);
    height: var(--titulo);
    font-size: calc(var(--subtitulo)*0.8);
    font-family: 'Poppins', sans-serif;
    border: 0.2vh solid var(--colorEnPrimario);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.5s all;
    margin: 0 1vw;
    user-select: none;
}
.arrow-button:hover {
    cursor: pointer;
    color: var(--colorSecundario);
    border-color: var(--colorSecundario);
}
.navigation-circle{
    height: var(--texto);
    width: var(--texto);
    margin: 0 1vw;
    border: 0.3vh solid var(--colorSecundario);
    border-radius: 50%;
}

/*!Estilos del footer*/

footer{
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--colorEnPrimario);
    color: var(--colorPrimario);
}
footer a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorPrimario);
}
footer a span {
    margin: 0 0.5vw;
    font-size: var(--texto);
    white-space: nowrap;
}
footer a h2 {
    margin: 0 0.5vw;
    font-size: var(--subtitulo);
    font-family: 'Dancing Script';
}


/*!custom scroll bar*/

::-webkit-scrollbar {
    width: var(--texto);
 }
  
::-webkit-scrollbar-track {
    background: var(--colorEnPrimario);
    box-shadow: 5px 0 0 5px var(--colorEnPrimario); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--colorSecundario); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--colorSecundarioT); 
}

/*!Media queries*/

@media (max-width:1050px){
    .main-section-4 h2{
        font-size: calc(var(--subtitulo)*0.85);
        max-height: 5vh;
    }
    .ms4-wrapper{
        height: 65vh;
        width: 95vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2vh 1.5vw;
    }
}

@media (max-width:850px){
    .main-section-1{
        grid-template-columns: none;
        justify-content: center;
        align-items: center;
    }
    .ms1-left{
        z-index: 2;
    }
    .ms1-left * {
        text-align: center;
        margin: 2vh auto;
    }
    .ms1-left p{
        margin: 2vh auto;
        max-width: 50%;
    }
    .ms1-right{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2;
    }
}

@media (max-width:750px){
    .main-section-2{
        grid-template-columns: none;
        justify-content: center;
        align-items: center;
    }
    .ms2-right{
        margin: 0 auto;
        z-index: 2;
    }
    .ms2-right * {
        text-align: center;
        margin: 2vh auto;
    }
    .ms2-right p{
        margin: 2vh auto;
        max-width: 50%;
    }
    .ms2-right a {
        margin: 4vh auto;
    }
    .ms2-left{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2;
    }
}

@media (max-width:650px){
    .member-desc h3 {
        white-space: normal;
    }
    .member-desc h3{
        font-size: calc(var(--texto)*0.85);
    }
    .member-desc p{
        font-size: calc(var(--texto)*0.7);
    }
}

@media (pointer:none), (pointer:coarse), (max-width:600px) {
    .little-image {
        position: absolute;
        top: none;
        left: none;
        transform: none;
        opacity: 0;
        max-width: 12vw;
        max-height: 16vh;
        transition: all 1s;
    }
    .little-image-1 {
        top: 20%;
        left: 15%;
        transform: rotate(-25deg);
        opacity: 0.9;
    }
    .little-image-2 {
        top: 50%;
        left: 10%;
        transform: rotate(25deg);
        opacity: 0.9;
    }
    .little-image-3 {
        top: 75%;
        left: 5%;
        transform: rotate(-35deg);
        opacity: 0.9;
    }
    .little-image-4 {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        opacity: 0.9;
    }
    .little-image-5 {
        top: 20%;
        left: 75%;
        transform: rotate(35deg);
        opacity: 0.9;
    }
    .little-image-6 {
        top: 50%;
        left: 80%;
        transform: rotate(-28deg);
        opacity: 0.9;
    }
    .little-image-7 {
        top: 75%;
        left: 85%;
        transform: rotate(15deg);
        opacity: 0.9;
    }

    .arrow-button{
        font-size: var(--subtitulo);
    }
}