@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@500;700&family=Nunito:wght@400&family=Poppins:wght@300&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*!Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Nunito', sans-serif;
    background-color: var(--colorPrimario);
}
body > div {
    margin: 0;
    padding: 0;
    position: relative;
    top: 12vh;
    width: 100vw;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #FFF;
    --colorPrimarioT: rgba(244, 244, 244, 0.8);

    --colorEnPrimario: rgb(22, 22, 55);
    --colorEnPrimarioT: rgba(22, 22, 55, 0.5);
    
    --colorSecundario: rgb(44, 44, 150);
    --colorSecundarioT: rgba(44, 44, 150, 0.7);

    --texto: clamp(1rem, 0.7153rem + 1.5vw, 1.5rem);
    --subtitulo: clamp(2.4rem, 0.7153em + 3vw, 3.5rem);
    --titulo: clamp(3rem, 0.7153rem + 4vw, 5rem);
    --banner: clamp(4rem, 0.7153rem + 4.5vw, 6.5rem);
}

/*!Fin de estilos generales*/

header{
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    animation: moveInDown 1.5s;
    z-index: 100;
}
header > div {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.header-div-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.header-div-left img {
    max-height: 8vh;
    user-select: none;
}
.header-div-left h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: calc(var(--subtitulo)*0.8);
    margin: 0 1vw;
    user-select: none;
}

.header-div-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 0vw;
}
.header-div-right a {
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 2vh;
    font-weight: normal;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
}
.header-div-right a:hover {
    background-color: rgba(44, 44, 150, 0.05);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundario);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 10vh;
    column-gap: 1vw;
    width: 90vw;
    margin: 2vh auto;
}
.article{
    width: 100%;
    min-height: 50vh;
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration-color: var(--colorSecundario);
}
.article:hover {
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
}
.article:hover .article-div h3{
    visibility: visible;
}
.article-div{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    color: var(--colorEnPrimario);
    text-decoration: none;
}
.article-div * {
    width: 100%;
}
.article img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}
.article h4 {
    margin: 2vh 0;
    color: var(--colorEnPrimarioT);
    font-size: calc(var(--texto)*0.8);
    text-transform: uppercase;
}
.article-div p {
    font-weight: 300;
}
.article-div h2 {
    font-weight: 700;
}
.article-div h2, 
.article-div p, 
.article-div h3 {
    font-size: calc(var(--texto)*1.1);
    margin: 0.5vh 0;
    line-height: 5vh;
}
.article-div h3 {
    visibility: hidden;
    animation: fadeIn 0.3s;
    color: var(--colorSecundario);
    transition: all 0.5s;
    width: fit-content;
    white-space: nowrap;
    padding: 1vh;
    font-weight: 100;
}
.article-div h3:hover {
    background-color: rgba(44, 44, 150, 0.1);
    text-decoration: underline;
} 

/*!Estilos del footer*/

footer{
    height: 13vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--colorEnPrimario);
    color: var(--colorPrimario);
}
footer a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorPrimario);
}
footer a span {
    margin: 0 0.5vw;
    font-size: var(--texto);
    white-space: nowrap;
}
footer a h2 {
    margin: 0 0.5vw;
    font-size: var(--subtitulo);
    font-family: 'Dancing Script';
    font-weight: 700;
}

/*!custom scroll bar*/

::-webkit-scrollbar {
    width: var(--texto);
 }
  
::-webkit-scrollbar-track {
    background: var(--colorEnPrimario);
    box-shadow: 5px 0 0 5px var(--colorEnPrimario); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--colorSecundario); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--colorSecundarioT); 
}

/*!Media queries*/

@media (max-aspect-ratio: 3/2) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-aspect-ratio: 3/4) {
    main{
        grid-template-columns: 1fr;
    }
}
@media (hover: none) {
    .article-div h3 {
        visibility: visible;
    }
    .article-div p {
        line-height: 3vh;
    }
}