@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 2s;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    overflow-anchor: none;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #45536d;
    --colorPrimarioT: rgba(69, 83, 109, 0.9);

    --colorEnPrimario: #FFFFFF;
    --colorEnPrimarioT: rgba(244, 244, 244, 0.9);
    
    --colorSecundario: #af790c;
    --colorSecundarioT: rgba(175, 121, 12, 0.9);

    --marronClaro: rgb(140, 107, 72);
    --azulOscuro: rgb(36, 47, 68);
    --blanco: rgb(255, 255, 255);
}

/*Estilos generales*/

body {
    background-color: var(--colorEnPrimario);
    width: 100%;
} 
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-login {
    width: 30vw;
    height: 80vh;
    margin: 0 auto;
    border-radius: 5%;
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: moveInUp;
    animation-duration: 2s;
}
.main-login div {
    margin: 0 auto;
    height: fit-content;
}
.ml-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ml-container > div{
    width: 80%;
    margin: 1em auto;
}
.ml-title {
    margin: 2em;
    font-size: 1.4em;
}
.ml-container input {
    width: 80%;
    margin: 0.5em 0 0 0;
    height: 2em;
    padding: 1em;
}
.ml-showpass {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
.ml-showpass input[type="checkbox"] {
    margin: 0;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
}
.ml-showpass h3 {
    margin: 0 0 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ml-login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ml-login-button a{
    margin: 0 auto;
    padding: 1em;
    background-color: var(--colorSecundario);
    color: var(--colorEnPrimario);
    font-size: 1.5em;
    text-decoration: none;
    transition: font-size, 0.5s;
}
.ml-login-button a:hover{
    background-color: var(--colorSecundarioT);
    font-size: 1.7em;
}
.ml-register {
    font-size: 1.2em;
}
.ml-register span a {
    text-decoration: underline;
    color: var(--colorEnPrimario);
}
.ml-register span a:hover {
    cursor: pointer;
    color: var(--colorSecundario);
}

/*Media queries*/

@media (max-width: 2100px) {
    html{
        font-size: 112.5%;
    }
}
@media (max-width: 2000px) {
    html{
        font-size: 106.25%;
    }
}
@media (max-width: 1900px) {
    html{
        font-size: 100%;
    }
}
@media (max-width: 1800px) {
    html{
        font-size: 93.75%;
    }
}
@media (max-width: 1700px) {
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 1600px) {
    html{
        font-size: 81.25%;
    }
}
@media (max-width: 1500px) {
    html{
        font-size: 75%;
    }
}
@media (max-width: 1400px) {
    html{
        font-size: 68.75%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 56.25%;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 43.75%;
    }
}
@media (max-width: 900px) {
    html{
        font-size: 37.5%;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 31.25%;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 25%;
    }
}