@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #45536d;
    --colorPrimarioT: rgba(69, 83, 109, 0.9);

    --colorEnPrimario: #FFFFFF;
    --colorEnPrimarioT: rgba(244, 244, 244, 0.9);
    
    --colorSecundario: #af790c;
    --colorSecundarioT: rgba(175, 121, 12, 0.9);

    --marronClaro: rgb(140, 107, 72);
    --azulOscuro: rgb(36, 47, 68);
    --blanco: rgb(255, 255, 255);
}

/*Fin de estilos generales*/

/*Estilos de header*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../res/test/background-test.png");
}
header * {
    color: var(--colorPrimario);
    margin: 2rem auto;
}
header a {
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
    padding: 1.5rem; 
    font-size: 1.5em;
    transition: all 0.5s;
    text-decoration: none;
    animation-name: moveInDown;
    animation-duration: 1.5s;
}
header a:hover  {
    font-size: 1.7rem;
    padding: 1.7rem;
    background-color: var(--colorPrimarioT);
}
header h1 {
    font-size: 4rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
}
header h2 {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
}
#start-button {
    animation-name: moveInUp;
    animation-duration: 1.5s;
}

/*Estilos del main*/

main {
    width: 100vw;
    height: 300vh;
}
main .main-div1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main .main-div1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .main-div1 > div * {
    margin: 1rem auto;
    text-align: center;
    color: var(--colorEnPrimario);
}
main .main-div1 > div h1 {
    font-size: 5rem;
    max-width: 90%;
}
main .main-div1 > div p {
    font-size: 1.8rem;
    max-width: 80%;
}

main .main-div2 {
    display: flex; flex-direction: column;
    width: 100vw;
    height: 200vh;
    background-color: var(--colorEnPrimario);
}
main .main-div2 > .h1-c {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .main-div2 > .h1-c h1 {
    margin: 0 auto;
    font-size: 3.5rem;
    color: var(--colorPrimario);
}
main .main-div2 > .member-c {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    width: 100%;
    height: 90%;
}
main .main-div2 > .member-c .member {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .main-div2 > .member-c .member .img-c {
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
main .main-div2 > .member-c .member img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
main .main-div2 > .member-c .member .text-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
main .main-div2 > .member-c .member .text-c * {
    text-align: center;
    max-width: 90%;
    margin: 1rem auto;
    font-size: 2rem;
}

/*Estilos del footer*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--colorEnPrimario);
    color: var(--colorPrimario);
    border-top: 2px solid var(--colorPrimario);
}
.footer-left-div{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.footer-left-div h3{
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em;
    padding: 0.5em;
}
.footer-left-div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-left-div > div {
    display: flex;
    flex-direction: row;
}
.footer-left-div img {
    max-height: 1.2em;
    margin: 0 0.5em;
}
.footer-left-div span {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
}
.footer-right-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.footer-right-div span {
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
}

/*Media queries*/

@media (hover: none) {
    header {
      opacity: 1;
    }
  }
@media (max-width: 2100px) {
    html{
        font-size: 112.5%;
    }
}
@media (max-width: 2000px) {
    html{
        font-size: 106.25%;
    }
}
@media (max-width: 1900px) {
    html{
        font-size: 100%;
    }
}
@media (max-width: 1800px) {
    html{
        font-size: 93.75%;
    }
}
@media (max-width: 1700px) {
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 1600px) {
    html{
        font-size: 81.25%;
    }
}
@media (max-width: 1500px) {
    html{
        font-size: 75%;
    }
}
@media (max-width: 1400px) {
    html{
        font-size: 68.75%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 56.25%;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 43.75%;
    }
}
@media (max-width: 900px) {
    html{
        font-size: 37.5%;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 31.25%;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 25%;
    }
}