@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@500;700&family=Nunito:wght@400&family=Poppins:wght@300&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes baseAnimation {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
@keyframes rotate3D {
    0%{
        transform: perspective(100vw) rotateY(10deg);
    }
    60% {
        transform: perspective(100vw) rotateY(90deg);
    }
    100%{
        transform: perspective(100vw) rotateY(180deg);
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
    animation: fadeIn 0.5s;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorPrimario);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #FFF;
    --colorPrimarioT: rgba(244, 244, 244, 0.8);

    --colorEnPrimario: rgb(22, 22, 55);
    --colorEnPrimarioT: rgba(22, 22, 55, 0.8);
    
    --colorSecundario: #2c2c96;
    --colorSecundarioT: rgba(44, 44, 150, 0.8);

    --texto: clamp(1rem, 0.7153rem + 1.5vw, 1.5rem);
    --subtitulo: clamp(2.4rem, 0.7153em + 3vw, 3.5rem);
    --titulo: clamp(3rem, 0.7153rem + 4vw, 5rem);
    --banner: clamp(4rem, 0.7153rem + 4.5vw, 6.5rem);
}

/*!Fin de estilos generales*/

header{
    min-height: 130vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
header h1 {
    max-width: 85%;
    font-size: var(--titulo);
    animation: baseAnimation 1.5s;
    text-align: center;
    user-select: none;
}
header h1 strong {
    color: var(--colorSecundario);
}
.characteristics {
    margin: 0 auto;
    width: 90vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}
.characteristic{
    margin: 0 auto;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    border: 0.1vh solid rgba(214, 214, 214, 1);
    border-radius: 4vh;
    box-shadow: 0.6vh 0.6vh 0.6vh rgba(214, 214, 214, 1);
    animation: baseAnimation 2s;
}
.characteristic:hover {
    border-width: 0.3vh;
    box-shadow: 0.8vh 0.8vh 0.8vh rgba(214, 214, 214, 1);
    transform: translateY(-4vh);
}
.characteristic img {
    max-width: 60%;
    max-height: 20%;
}
.characteristic h2 {
    font-size: var(--texto);
    text-align: center;
    white-space: nowrap;
}
.characteristic p{
    max-width: 80%;
    font-size: calc(var(--texto)*0.85);
    text-align: center;
}
header a{
    margin: 2vh auto;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    font-weight: bold;
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorEnPrimario);
    animation: baseAnimation 2.5s;
}
header a:hover {
    cursor: pointer;
    background-color: rgba(44, 44, 150, 0.85)
}
header a:active {
    cursor: pointer;
    background-color: rgba(44, 44, 150, 0.85)
}
header a:focus {
    cursor: pointer;
    background-color: rgba(44, 44, 150, 0.85)
}

/*!Estilos de main*/

main {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}
.question {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1vh auto;
    min-height: 15vh;
}
.text h2 {
    max-width: 60%;
    margin: 2vh auto;
    text-align: center;
    font-size: calc(var(--texto)*1.5);
}
.options {
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2vw;
}
.option {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
    border: 0.1vh solid var(--colorEnPrimario);
    color: var(--colorEnPrimario);
    text-decoration: none;
}
.option:hover {
    padding: 2vh;
    cursor: pointer;
    width: 85%;
    height: 95%;
}
.option:focus {
    border-width: 2vh;
}
.option > span {
    color: var(--colorEnPrimario);
    margin: 0 auto;
    font-size: calc(var(--texto)*1.2);
}
.next-container {
    width: 100vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.next-button {
    margin: 2vh auto;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    font-weight: bold;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    border: 0.2vh solid var(--colorSecundario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorSecundarioT);
    transition: all 0.5s;
}
.next-button:hover {
    background-color: rgba(44, 44, 150, 0.1);
}
.next-button:active {
    background-color: rgba(44, 44, 150, 0.1);
}
.next-button:focus {
    background-color: rgba(44, 44, 150, 0.1);
}
.result-button{
    margin: 2vh auto;
    width: fit-content;
    font-size: calc(var(--texto)*0.85);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    border-radius: 0.5vh;
    padding: 3vh;
    font-weight: bold;
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    box-shadow: 0.15vw 0.15vh 0.15vw var(--colorEnPrimario);
    animation: baseAnimation 1.5s;
}
.result-button:hover {
    background-color: rgba(44, 44, 150, 0.85)
}
.result-button:active {
    background-color: rgba(44, 44, 150, 0.85)
}
.result-button:focus {
    background-color: rgba(44, 44, 150, 0.85)
}

#resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#resultados > h2, #resultados > div {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    color: var(--colorEnPrimario);
}
#resultados > h2 {
    font-size: calc(var(--texto)*1.5);
    height: 10%;
}
#resultados > div {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    height: 80%;
}
#resultados > div > div {
    width: 100%;
    height: 100%;
    border: 2px solid var(--colorEnPrimario);
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result:hover{
    cursor: pointer;
    transform: perspective(100vw) rotateY(10deg);
}
.result > div {
    margin: 2rem auto;
}
.per {
    font-size: var(--titulo);
}
.bar-c{
    width: 90%;
    height: 10%;
    padding: 0.5rem;
    border-radius: 0.5rem / 0.5rem;
    background-color: var(--colorEnPrimario);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar {
    width: 50%;
    height: 100%;
    border-radius: 0.5rem / 0.5rem;
    background-color: var(--colorPrimario);
    margin: 0;
}

.result ul {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.result ul li {
    font-size: calc(var(--texto)*0.8);
    max-width: 80%;
    overflow-wrap: break-word;
}

/*!Estilos del footer*/

footer{
    height: 13vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--colorEnPrimario);
    color: var(--colorPrimario);
}
footer a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorPrimario);
}
footer a span {
    margin: 0 0.5vw;
    font-size: var(--texto);
    white-space: nowrap;
}
footer a h2 {
    margin: 0 0.5vw;
    font-size: var(--subtitulo);
    color: var(--colorPrimario);
    font-family: 'Dancing Script';
    font-weight: 700;
}


/*!custom scroll bar*/

::-webkit-scrollbar {
    width: var(--texto);
 }
  
::-webkit-scrollbar-track {
    background: var(--colorEnPrimario);
    box-shadow: 5px 0 0 5px var(--colorEnPrimario); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--colorSecundario); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--colorSecundarioT); 
}

/*!Media queries*/

@media (max-width: 900px) {
    .characteristic {
        width: 25vw;
    }
    .text h2 {
        max-width: 80%;
    }
    .option {
        height: 80%;
    }
}

@media (max-width: 720px) {
    .characteristics {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .characteristic {
        width: 80vw;
        height: 35vh;
    }
    #resultados > div {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
    #resultados {
        height: 120vh;
    }
}
